# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual env
.venv/
venv/

# Environment variables
.env
.env.*

# Django
media/
staticfiles/
*.pot
*.mo

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
