{% extends "base.html" %}
{% block title %}Máš záber!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="p-4 p-md-5 rounded-4 border bg-body-tertiary">
        <h1 class="display-6 fw-bold mb-2">Rybárska súťaž – jednoduché pridávanie úlovkov</h1>
        <p class="lead mb-4">
          Organizátor vytvorí súťaž, pozve účastníkov a schvaľuje úlovky.
          Súťažiaci pridávajú úlovky počas trvania súťaže.
        </p>

        <div class="mt-4 d-flex gap-2">
          {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'core:dashboard' %}">Prejsť na dashboard</a>
          {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">Prihlásiť sa</a>
            <a class="btn btn-outline-light" href="{% url 'signup' %}">Registrácia</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}
