{% extends "base.html" %}
{% block title %}{{ competition.name }}{% endblock %}

{% block content %}
  <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-3">
    <div class="d-flex align-items-center gap-2">
      <a class="btn btn-outline-light btn-sm" href="{% url 'competitions:my_competitions' %}">← Moje súťaže</a>
    </div>

    <div class="d-flex flex-wrap gap-2">
      {% if is_organizer %}
        <a class="btn btn-outline-light btn-sm"
        href="{% url 'competitions:competition_edit' competition.pk %}">
        Upraviť
      </a>
      <a class="btn btn-outline-light btn-sm" href="{% url 'competitions:invitations' %}?competition={{ competition.pk }}">Pozvánky</a>
      {% endif %}
      {% if is_contestant %}
        <a class="btn btn-primary btn-sm" href="{% url 'catches:catch_create' %}?competition={{ competition.id }}">+ Pridať úlovok</a>
      {% endif %}
    </div>
  </div>

  <div class="mb-3">
    <h1 class="h3 fw-bold mb-1">{{ competition.name }}</h1>
    {% if competition.description %}
      <p class="text-secondary mb-0">{{ competition.description }}</p>
    {% endif %}
  </div>

  <div class="card border-secondary shadow-sm mb-4">
    <div class="card-header border-secondary">
      <div class="fw-semibold">🏆 Scoreboard</div>
    </div>

    <div class="card-body d-flex align-items-center justify-content-between">
      <div class="text-secondary">
        Priebežné poradie podľa schválených úlovkov.
      </div>

      <a class="btn btn-warning"
        href="{% url 'competitions:scoreboard' competition.pk %}">
        Otvoriť scoreboard
      </a>
    </div>
  </div>

  <div class="row g-3">
    {% if is_contestant %}
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <div class="text-secondary small">Miesto číslo</div>
        <div class="h4 fw-bold mb-0">
          {% if membership.spot_number %}
            {{ membership.spot_number }}
          {% else %}
            <span class="text-secondary">nepridelené</span>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if is_organizer %}
    <div class="card shadow-sm mb-4">
      <div class="card-header border-secondary">
        <div class="fw-semibold">👥 Účastníci – Miesto číslo</div>
        <div class="small text-secondary">
          Priraď miesto účastníkom (1–{{ competition.fishing_spots_count }}). Každé miesto môže byť len raz.
        </div>
      </div>

      <div class="card-body p-0">
        {% if contestant_memberships %}
          <div class="table-responsive">
            <table class="table table-dark table-striped table-hover mb-0 align-middle">
              <thead>
                <tr>
                  <th>Účastník</th>
                  <th style="width: 260px;">Miesto číslo</th>
                </tr>
              </thead>
              <tbody>
                {% for m in contestant_memberships %}
                  {% include "competitions/_member_row.html" with competition=competition m=m %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="p-3 text-secondary">Zatiaľ tu nie sú žiadni účastníci.</div>
        {% endif %}
      </div>
    </div>
  {% endif %}

    {% if not competition.is_official or is_organizer %}
    <div class="col-12 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header border-secondary d-flex align-items-center justify-content-between">
          <div>
            <div class="fw-semibold">🎣 Úlovky v súťaži</div>
            <div class="small text-secondary">Pribúdajú postupne (autorefresh).</div>
          </div>
        </div>

        <div class="card-body p-0">
          <div
            id="competition-catch-list"
            hx-get="{% url 'competitions:catch_list' competition.pk %}"
            hx-trigger="load, every 5s"
            hx-swap="innerHTML"
          >
            {% include "competitions/_catch_list.html" with competition=competition catches=catches back_url=request.path %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <div class="col-12 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header border-secondary">
          <div class="fw-semibold">🎣 Moje úlovky v súťaži</div>
          <div class="small text-secondary">Tvoje úlovky + stav schválenia (autorefresh).</div>
        </div>

        <div class="card-body p-0">
          <div
            id="competition-my-catch-list"
            hx-get="{% url 'competitions:my_catch_list' competition.pk %}"
            hx-trigger="load, every 5s"
            hx-swap="innerHTML"
          >
            {% include "competitions/_my_catch_list.html" with competition=competition catches=my_catches back_url=request.path %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 card border-secondary">
    <div class="card-header fw-semibold">TODO</div>
    <div class="card-body">
      <ul class="mb-0">
        <li>Zobraziť členov + info (body, počet rýb...)</li>
        <li>Zvýrazniť to, keď user vstúpy do súťaže (Vstúpil si do súťaže:)</li>
        <li>Možnosť otvoriť si profil účastníka, kde sa zobrazia jeho úlovky v danej súťaži</li>
        <li>Úprava úlovku organizátorom</li>
        <li>notifikácia ak sa uloží lovné miesto</li>
      </ul>
    </div>
  </div>
{% endblock %}
