{% extends "base.html" %}
{% block title %}Moje súťaže{% endblock %}

{% block content %}
  <h1>Moje súťaže</h1>

  {% if items %}
    <div class="grid">
      {% for it in items %}
        <article>
          <h3>{{ it.name }}</h3>

          <p>
            <strong>Status:</strong> {{ it.status }}<br>
            <strong>Rola:</strong> {{ it.role }}<br>
            <strong>Od:</strong> {{ it.starts|date:"d.m.Y H:i" }}<br>
            <strong>Do:</strong> {{ it.ends|date:"d.m.Y H:i" }}<br>
          </p>

          <a href="{% url 'competitions:detail' it.competition.pk %}" role="button">Detail</a>
        </article>
      {% endfor %}
    </div>

    <p>TODO:
        <ul>
            <li>Zrušenie súťaže</li>
            <li>Zobrazenie členov aj počet (ak je organizátor)</li>
            <li>Zobrazenie bodov súťažiacich (ak je organizátor)</li>
            <li>Info o súťaži (kde sa koná, konkrétne miesto)</li>
        </ul>
    </p>
  {% else %}
    <p>Zatiaľ nie si v žiadnej súťaži.</p>
  {% endif %}
{% endblock %}
